/* CSS Document */
html,body,ul,li,ol,img,input,tr,td,form,dl,dt,dd,p,h1,h2,h3,h4,h5{padding:0;margin:0;}
img{border:none;}
em,i{font-style:normal;}
b,strong{font-weight:normal;}
input{outline:none;}
After{content:"";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;font-size:1px;}
